.bookmark-item.panel.panel-default.no-border.no-overflow(title='{{(b.text ? b.title : "")}}', data-content='{{(b.text ? b.text : b.title)}}', data-toggle='popover', data-placement='auto bottom')

  //- Bookmarks link 
  a.bookmark-link.display-block.text-primary(href='{{b.link}}', target='{{settings.global.newtab ? "_blank" : "_self"}}', rel='noopener')

    //- Bookmarks image 
    bookmark-image(image='b.image', link='b.link', width='400', height='400')

  //- Bookmarks action 
  .panel-footer.no-border.no-padding
    .btn-group.btn-group-justified(ng-class='{"btn-group-xs": size == "s", "btn-group-sm": size == "m"}',)
      a.btn.btn-link(ng-click='b.batch = !b.batch', href='', title='{{b.batch ? "Убрать из выбора" : "Выбрать для редактирования"}}', data-toggle='tooltip')
        i.fa.fa-fw(ng-class='{"fa-square-o": !b.batch, "fa-check-square": b.batch}')
      a.btn.btn-link(ng-click='bookmarkActions.star(b)', href='', title='{{b.star ? "Убрать из избранного" : "Добавить в избранное"}}', data-toggle='tooltip')
        i.fa.fa-fw(ng-class='{"fa-star": b.star, "fa-star-o": !b.star}')
      a.btn.btn-link(ng-click='bookmarkActions.edit(b)', href='', title='Редактировать', data-toggle='tooltip')
        i.fa.fa-fw.fa-edit
      a.btn.btn-link(ng-click='bookmarkActions.delete(b.id)', href='', title='Удалить', data-toggle='tooltip')
        i.fa.fa-fw.fa-trash-o
